[run]
source =
    distributed
omit =
    distributed/tests/test*
    distributed/hdfs.py
    distributed/cluster.py
    distributed/*/tests/test*
    distributed/compatibility.py
    distributed/cli/utils.py
    distributed/utils_test.py
    distributed/deploy/ssh.py
    distributed/_ipython_utils.py
    distributed/_version.py
    distributed/pytest_resourceleaks.py
    distributed/comm/ucx.py

[report]
show_missing = True
exclude_lines =
    # re-enable the standard pragma
    pragma: nocover
    pragma: no cover
    # exclude nvml calls
    [\s(.]nvml[\s(.]
    [\s(.]pynvml[\s(.]
    # exclude LOG_PDB
    LOG_PDB

[html]
directory = coverage_html_report

