*.pyc
*.pyd
*.py~

# Cython files
*.c
*.so

build/
dist/
*.egg-info
docs/build
.DS_Store
.cache
.coverage
.coverage.*
coverage.xml
*.lock
.#*
.eggs/
.idea/
.vscode/
.pytest_cache/
dask-worker-space/
.vscode/
*.swp
.ycm_extra_conf.py
tags
.ipynb_checkpoints
.venv/
.mypy_cache/

# Project specific
continuous_integration/hdfs-initialized
distributed/scheduler.html
distributed/_version.py

# Test reports
reports/
test_report*.html
test_report*.db
test_short_report.html

# Test failures will dump the cluster state in here
test_cluster_dump/
