repos:
  -   repo: https://github.com/MarcoGorelli/absolufy-imports
      rev: v0.3.1
      hooks:
      - id: absolufy-imports
        name: absolufy-imports
  -   repo: https://github.com/pycqa/isort
      rev: 5.10.1
      hooks:
      - id: isort
        language_version: python3
  - repo: https://github.com/asottile/pyupgrade
    # Do not upgrade: there's a bug in Cython that causes sum(... for ...) to fail;
    # it needs sum([... for ...])
    rev: v2.13.0
    hooks:
      - id: pyupgrade
        args:
          - --py38-plus
  -   repo: https://github.com/psf/black
      rev: 22.1.0
      hooks:
      - id: black
        language_version: python3
        exclude: versioneer.py
        args:
          - --target-version=py38
  -   repo: https://gitlab.com/pycqa/flake8
      rev: 3.9.2
      hooks:
      - id: flake8
        language_version: python3
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.931
    hooks:
      - id: mypy
        additional_dependencies:
          # Type stubs
          - types-docutils
          - types-requests
          - types-paramiko
          - types-PyYAML
          - types-setuptools
          - types-psutil
          # Typed libraries
          - numpy
          - dask
          - tornado
          - zict
          - pyarrow
