html {
  background: rgba(0,0,0,0.92);
}

.navbar ul {
  background-color: #000;
}

.navbar li.active {
  color: #000;
  background-color: #FDA061;
}

.navbar li a {
  color: #FDA061;
}

.navbar li:hover {
  background-color: #eaaa6d;
}

.navbar li:hover a {
  color: #000;
}
