<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Dask Diagnostic UI</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
    <link rel="stylesheet" href="statics/css/base.css">
    {% block resources %}
    {% block js_resources %}
    {{ bokeh_css | indent(8) if bokeh_css }}
    {% endblock %}
    {% block css_resources%}
    {{ bokeh_js | indent(8) if bokeh_js }}
    {% endblock %}
    {% endblock %}
  </head>
  <body>
    <div class="navbar" id="myTopnav">
      <ul>
        <li id="dask-logo">
          <a href="http://dask.pydata.org/en/latest/">
            <img src="statics/images/dask-logo.svg"></img>
          </a>
        </li>
        {% for page in pages %}
        <li{% if page == active_page %} class="active"{% endif %}>
          <a href="{{ page }}">{{ page|title }}</a>
        </li>
        {% endfor %}
        <li>
          <a href="info/main/workers.html">Info</a>
        </li>
        <li id="navbar-toggle-icon">
          <a href="javascript:void(0);" onclick="myFunction()">
            <img src="statics/images/fa-bars.svg"></img>
          </a>
        </li>
      </ul>
    </div>
    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
    <script src="statics/js/base.js"></script>
  </body>
</html>
