<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> {{title}} </title>
	<link rel="stylesheet" href="/static/style.css" media="all" />
  </head>

  <body>
  <table class="table is-striped is-hoverable">
    <tr>
        <th> Worker </th>
        <th> cores </th>
        <th> use </th>
        <th> memory </th>
        <th> occupancy </th>
        <th> processing </th>
        <th> in-memory </th>
        <th> services</th>
    </tr>
    {% for worker in workers %}
    <tr>
        <td><a href="/scheduler/worker/{{ url_escape(worker) }}.html">{{worker}}</a></td>
        <td> {{ ncores[worker] }} </td>
        <td> {{ format_bytes(worker_info[worker]['memory_limit']) }} </td>
        <td> <progress class="progress" value="{{ worker_info[worker].get('memory-rss') }}" max="{{ worker_info[worker]['memory_limit'] }}"></progress> </td>
        <td> {{ format_time(occupancy[worker]) }} </td>
        <td> {{ len(processing[worker]) }} </td>
        <td> {{ len(has_what[worker]) }} </td>
        {% if 'bokeh' in worker_info[worker]['services'] %}
        <td> <a href="http://{{ worker_info[worker]['host'] }}:{{ worker_info[worker]['services']['bokeh'] }}">bokeh</a> </td>
        {% else %}
        <td> </td>
        {% end %}
    </tr>
    {% end %}
  </table>
  </body>

</html>
