name: dask-distributed
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - packaging
  - pip
  - asyncssh
  # Temporary restriction until https://github.com/dask/distributed/issues/7173 is resolved
  - bokeh<3
  - click
  - cloudpickle
  - coverage
  - dask  # overridden by git tip below
  - filesystem-spec  # overridden by git tip below
  - h5py
  - ipykernel
  - ipywidgets
  - jinja2
  - locket >=1.0
  - msgpack-python
  - netcdf4
  - paramiko
  - pre-commit
  - prometheus_client
  - psutil
  - pyarrow=7
  - pytest
  - pytest-cov
  - pytest-faulthandler
  - pytest-repeat
  - pytest-rerunfailures
  - pytest-timeout
  - requests
  - s3fs  # overridden by git tip below
  - scikit-learn
  - scipy
  - sortedcollections
  - tblib
  - toolz
  - tornado >=6.2
  - zict  # overridden by git tip below
  - zstandard >=0.9.0
  - pip:
      - git+https://github.com/dask/dask
      - git+https://github.com/dask/s3fs
      - git+https://github.com/dask/zict
      - git+https://github.com/fsspec/filesystem_spec
      - keras
