name: dask-distributed
channels:
  - conda-forge
  - defaults
  - pytorch
dependencies:
  - python=3.9
  - pip
  - asyncssh
  - bokeh
  - click
  - cloudpickle
  - dask  # overridden by git tip below
  - filesystem-spec  # overridden by git tip below
  - h5py
  - ipykernel
  - ipywidgets
  - joblib  # overridden by git tip below
  - jupyter_client
  - lz4  # Only tested here
  - msgpack-python
  - netcdf4
  - paramiko
  - prometheus_client
  - psutil
  - pynvml  # Only tested here
  - pytest
  - pytest-asyncio<0.14.0
  - pytest-faulthandler
  - pytest-repeat
  - pytest-rerunfailures
  - pytest-timeout
  - python-blosc  # Only tested here
  - python-snappy  # Only tested here
  - pytorch  # Only tested here
  - requests
  - s3fs  # overridden by git tip below
  - scikit-learn
  - scipy
  - sortedcollections
  - tblib
  - toolz
  - torchvision  # Only tested here
  - tornado=6
  - zict  # overridden by git tip below
  - zstandard
  - pip:
      - git+https://github.com/dask/dask
      - git+https://github.com/dask/s3fs
      - git+https://github.com/dask/zict
      - git+https://github.com/intake/filesystem_spec
      - git+https://github.com/joblib/joblib
      - keras
