name: dask-distributed
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.8
  - packaging
  - pip
  - asyncssh
  # Temporary restriction until https://github.com/dask/distributed/issues/7173 is resolved
  - bokeh<3
  - click
  - cloudpickle
  - coverage
  - cython  # Only tested here; also a dependency of crick
  - dask  # overridden by git tip below
  - filesystem-spec
  - h5py
  - ipykernel
  - ipywidgets
  - jinja2
  - locket >=1.0
  - msgpack-python
  - netcdf4
  - paramiko
  - pre-commit
  - prometheus_client
  - psutil
  - pyarrow=7
  - pynvml  # Only tested here
  - pytest
  - pytest-cov
  - pytest-faulthandler
  - pytest-repeat
  - pytest-rerunfailures
  - pytest-timeout
  - requests
  - setuptools<65  # FIXME https://github.com/jcrist/crick/issues/24
  - s3fs
  - scikit-learn
  - scipy
  - sortedcollections
  - tblib
  - toolz
  - tornado >=6.2
  - zict
  - zstandard >=0.9.0
  - pip:
      - git+https://github.com/dask/dask
      - git+https://github.com/jcrist/crick  # Only tested here
      - keras
