name: dask-distributed
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - packaging
  - pip
  - asyncssh
  - bokeh
  - crick  # Only tested here; also a dependency of dask
  - click
  - cloudpickle
  - coverage
  - cython  # Only tested here; also a dependency of crick
  - dask  # overridden by git tip below; pulls in optional dependencies
  - fsspec
  - gilknocker
  - h5py
  - ipykernel
  - ipywidgets
  - jinja2
  - jupyter_events
  - jupyter-server-proxy
  - jupyterlab
  - locket
  - lz4  # Only tested here
  - msgpack-python
  - netcdf4
  - paramiko
  - pre-commit
  - prometheus_client
  - psutil
  - pyarrow
  - nvidia-ml-py  # Only tested here
  - pytest
  - pytest-cov
  - pytest-faulthandler
  - pytest-repeat
  - pytest-rerunfailures
  - pytest-timeout
  - python-snappy  # Only tested here
  - pytorch  # Only tested here
  - requests
  - scikit-learn
  - scipy
  - sortedcollections
  - tblib
  - toolz
  - torchvision  # Only tested here
  - tornado
  - zict  # overridden by git tip below
  - zstandard
  - pip:
      - git+https://github.com/dask/dask
      - git+https://github.com/dask/zict
      - keras
