name: Conda build
on:
  push:
    branches:
      - main
  pull_request:

# When this workflow is queued, automatically cancel any previous running
# or pending jobs from the same branch
concurrency:
  group: conda-${{ github.head_ref }}
  cancel-in-progress: true

# Required shell entrypoint to have properly activated conda environments
defaults:
  run:
    shell: bash -l {0}

jobs:
  conda:
    name: Build (and upload)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Python
        uses: conda-incubator/setup-miniconda@v2
        with:
          miniforge-variant: Mambaforge
          use-mamba: true
          python-version: 3.8
      - name: Install dependencies
        run: |
          mamba install boa conda-verify

          which python
          pip list
          mamba list
      - name: Build conda package
        run: |
          # suffix for nightly package versions
          export VERSION_SUFFIX=a`date +%y%m%d`

          conda mambabuild continuous_integration/recipe \
                           --no-anaconda-upload \
                           --output-folder build
      - name: Upload conda package
        if: |
          github.event_name == 'push'
          && github.ref == 'refs/heads/main'
          && github.repository == 'dask/distributed'
        env:
          ANACONDA_API_TOKEN: ${{ secrets.DASK_CONDA_TOKEN }}
        run: |
          # convert package to other architectures
          cd build && conda convert linux-64/*.tar.bz2 -p osx-64 \
                                                       -p osx-arm64 \
                                                       -p linux-64 \
                                                       -p linux-ppc64le \
                                                       -p linux-aarch64 \
                                                       -p win-64

          # install anaconda for upload
          mamba install anaconda-client

          anaconda upload --label dev **.tar.bz2
