name: Tests

on: [push, pull_request]

# When this workflow is queued, automatically cancel any previous running
# or pending jobs from the same branch
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 180

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ["3.7", "3.8", "3.9"]

        # Uncomment to stress-test the test suite for random failures.
        # Must also change env.TEST_ID below.
        # This will take a LONG time and delay all PRs across the whole github.com/dask!
        # To avoid hamstringing other people, change 'on: [push, pull_request]' above
        # to just 'on: [push]'; this way the stress test will run exclusively in your
        # branch (https://github.com/<your name>/distributed/actions).
        # run: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

    env:
      TEST_ID: ${{ matrix.os }}-${{ matrix.python-version }}
      # TEST_ID: ${{ matrix.os }}-${{ matrix.python-version }}-${{ matrix.run }}

    steps:
      - name: Checkout source
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup Conda Environment
        uses: conda-incubator/setup-miniconda@v2
        with:
          miniforge-variant: Mambaforge
          miniforge-version: latest
          condarc-file: continuous_integration/condarc
          use-mamba: true
          python-version: ${{ matrix.python-version }}
          environment-file: continuous_integration/environment-${{ matrix.python-version }}.yaml
          activate-environment: dask-distributed

      - name: Show conda options
        shell: bash -l {0}
        run: conda config --show

      - name: Install stacktrace
        shell: bash -l {0}
        # stacktrace for Python 3.8 has not been released at the moment of writing
        if: ${{ matrix.os == 'ubuntu-latest' && matrix.python-version < '3.8' }}
        run: mamba install -c conda-forge -c defaults -c numba libunwind stacktrace

      - name: Hack around https://github.com/ipython/ipython/issues/12197
        # This upstream issue causes an interpreter crash when running
        # distributed/protocol/tests/test_serialize.py::test_profile_nested_sizeof
        shell: bash -l {0}
        if: ${{ matrix.os == 'windows-latest' && matrix.python-version == '3.9' }}
        run: mamba uninstall ipython

      - name: Install
        shell: bash -l {0}
        run: |
          # Cythonize scheduler on Python 3.7 builds
          if [[ "${{ matrix.python-version }}" = "3.7" ]]; then
              python -m pip install -vv --no-deps --install-option="--with-cython" -e .
              python -c "from distributed.scheduler import COMPILED; assert COMPILED"
          else
              python -m pip install --no-deps -e .
              python -c "from distributed.scheduler import COMPILED; assert not COMPILED"
          fi

      - name: mamba list
        shell: bash -l {0}
        run: mamba list

      - name: mamba env export
        shell: bash -l {0}
        run: |
          echo -e "--\n--Conda Environment (re-create this with \`mamba env create --name <name> -f <output_file>\`)\n--"
          mamba env export | grep -E -v '^prefix:.*$'

      - name: Setup SSH
        shell: bash -l {0}
        # FIXME no SSH available on Windows
        # https://github.com/dask/distributed/issues/4509
        if: ${{ matrix.os != 'windows-latest' }}
        run: bash continuous_integration/scripts/setup_ssh.sh

      - name: Reconfigure pytest-timeout
        shell: bash -l {0}
        # No SIGALRM available on Windows. On MacOS, it kills the whole test suite.
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: sed -i.bak 's/timeout_method = thread/timeout_method = signal/' setup.cfg

      - name: Test
        id: run_tests
        shell: bash -l {0}
        env:
          PYTHONFAULTHANDLER: 1
        run: |
          if [[ "${{ matrix.os }}" = "ubuntu-latest" ]]; then
              # FIXME ipv6-related failures on Ubuntu github actions CI
              # https://github.com/dask/distributed/issues/4514
              export DISABLE_IPV6=1
          fi
          source continuous_integration/scripts/set_ulimit.sh

          pytest distributed -m "not avoid_ci" --runslow \
            --junitxml reports/pytest.xml -o junit_suite_name=$TEST_ID

      # - name: Debug with tmate on failure
      #   if: ${{ failure() }}
      #   uses: mxschmitt/action-tmate@v3

      - name: Upload test artifacts
        # ensure this runs even if pytest fails
        if: >
          always() &&
          (steps.run_tests.outcome == 'success' || steps.run_tests.outcome == 'failure')
        uses: actions/upload-artifact@v2
        with:
          name: ${{ env.TEST_ID }}
          path: reports
